<div class="container">
  <div class="row mx-auto">
    <div class="col-xs-2" style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px"><%= link_to "Back", url(:lifts, :index), :class => 'btn btn-outline-primary' %>
    </div> 
    <div class="col-xs-2" style="margin-top: 10px; margin-bottom: 10px; margin-right: 10px"><button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">New <i class="fas fa-plus"></i></button>
    </div> 
    <div class="col-xs-2" style="margin-top: 10px; margin-bottom: 10px">
      <% form_for :lift, url(:lifts, :destroy, :id => @lift.id) do |f| %>
        <%= f.submit "Delete", :class => 'btn btn-danger' , :name => 'delete_lift'%>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @entries.each do |entry| %>
      <div class='col-12 col-sm-4' style="margin-top: 10px">
        <div class="card rounded-sm">
          <div class="card-body">
            <div class="card-title"><h3><%= entry.weight %> lbs</h3></div>
          </div>
          <div class="card-footer">
            <small class="text-muted mx-auto float-bottom"><%= entry.date %></small>
          </div>            
        </div>
      </div>
    <% end %>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">New Entry</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% form_for :entry, url(:entries, :create, :lift_id => @lift.id) do |f| %>
            <div class="modal-body">
                <div class="form-group">
                  <label for="lift-name" class="col-form-label">Weight:</label>
                  <%= f.text_field :weight, :class => 'form-control' %>
                </div>
            </div>
            <div class="modal-footer">
              <div class="form-actions">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <%= f.submit "Add", :class => 'btn btn-primary' , :name => 'create_lift'%>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>  
</div>